@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background:#b7e4ff;
    font-family: "Exo", sans-serif;
}

.account {
    position: relative;
    top: 20px;

}
.profile {
    position: absolute;
    top: 0;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu {
    position: absolute;
    width: 250px;
    background-color: white;
    top: 75px;
    right: 15px;
    border-radius: 18px;
    visibility: visible;
    opacity: 0;
    transition: 0.5s;
}

.active {
    visibility: visible;
    opacity: 1;
    top: 75px;
}

.menu::before {
    content: "";
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    right: 35px;
    rotate: 45deg;
}

.menu h3 {
    font-size: 1rem;
    text-align: center;
    margin: 5px 0;
}

.menu p {
    font-size: .9rem;
    text-align: center;
    color: #b5b9b9;
    margin-bottom: 20px;
}

.menu ul {
    margin-bottom: 17px;
}

.menu ul li {
    padding: 15px 20px;
    border-top: 1px solid #33333310;
    background: #ffffff;
    transition: 0.5s;
}

.menu ul li:hover {
    background: #e7e7e7;
}

.menu ul li i {
    font-size: 1rem;
    color: #b4b4b4;
    transition: 0.5s;
}

.menu ul li:hover i{
    color: #111;
}

.menu ul li a {
    font-size: 1rem;
    color: #292929;
    margin-left: 10px;
}